* {
	margin: 0;
}

.content-container {
	height: 320px;
	border-radius: 5px;
	margin: 5px;
	padding: 25px;
}

.day {
	background-image: url("/background-day.jpg");
	background-size: 500px;
}

.night {
	background-image: url("/background-night.jpg");
	background-size: 520px;
	color: white;
}

.geolocation {
	font-size: 18px;
	margin-bottom: 4px;
}

.time-now {
	margin-bottom: 16px;
}

.temperature-now {
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
	margin-right: 10px;
}

.temperature-weather-state-container {
	margin-bottom: 16px;
}

.temperature-weather-state-container img {
	height: 45px;
	padding: 0;
	vertical-align: middle;
	margin-right: 14px;
}

.description-wrap {
	display: inline-block;
	vertical-align: middle;
}

.fact-props-wrap {
	display: flex;
}

.fact-props-wrap img {
	height: 24px;
	margin-right: 4px;
}

.wind-wrap p, img, .humidity-wrap p, img, .pressure-wrap p, img {
	display: inline-block;
	vertical-align: middle;
}

.wind-wrap, .humidity-wrap, .pressure-wrap {
	margin-right: 10px;
}

.spacer {
	margin: 16px 0;
	border-bottom: 1px solid rgba(102, 102, 102, 0.3)
}